*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eef3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.password-container{
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

.inp-field{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    display: flex;
    justify-content: space-between;
}

#show{
    cursor: pointer;
}

input{
    border: none;
    outline: none;
    font-size: 16px;
}

.strength-meter{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 8px;
}

.strength-meter span{
    flex: 1;
    margin: 0 4px;
    border-radius: 6px;
    background: #ddd;
    transition: all 0.3s linear;
}

#feedback{
    margin-top: 15px;
    color: #555;
    font-size: 15px;
}

#desc{
    font-size: 12px;
    color: rgb(142, 142, 142);
    display: none;
}

@media (max-width:425px) {
    .password-container{
        max-width: 90%;
        padding: 1.6rem;
    }
}